@media only screen and (max-width:1200px) {
    .textbox {
        width: 100%;
        padding: 0 2%
    }
    .mobile_tracks {
        display: block
    }
    .non_mobile_tracks {
        display: none
    }
}

@media only screen and (max-width:1000px) {
    body {
        font-size: 16px
    }
    section {
        padding: 60px 0
    }
    .long_copy {
        width: 80%;
        margin-left: 10%
    }
    .icon_small {
        width: 17px
    }
    .contact_form {
        width: 80%
    }
    .current_song div img {
        max-width: 30vw
    }
}

@media only screen and (max-width:767px) {
    body {
        font-size: 16px;
        overflow-x: hidden
    }
    section {
        padding: 30px 0;
        background-attachment: scroll!important
    }
    header {
        background-attachment: scroll
    }
    .btn_scroll,
    .main_nav {
        display: none
    }
    .menu_btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 300%;
        margin: 0 10px
    }
    .menu_btn a:link,
    .menu_btn a:visited {
        color: #fff;
        transition: color .5s;
        -webkit-transition: color .5s;
        -moz-transition: color .5s;
        -ms-transition: color .5s;
        -o-transition: color .5s
    }
    .menu_btn a:active,
    .menu_btn a:hover {
        color: #1db954
    }
    .long_copy {
        width: 100%;
        margin-left: 0
    }
    h1 {
        font-size: 180%
    }
    h2 {
        font-size: 140%
    }
    h2:after {
        width: 100px
    }
    .cont_title:after {
        display: block;
        height: 20px;
        content: " "
    }
    .btn {
        margin-bottom: 20px
    }
    .contact_form {
        width: 150%
    }
    .logo {
        margin: 0 0 0 10px
    }
    #user_img img {
        width: 20vw
    }
}

@media only screen and (max-width:480px) {
    section {
        padding: 25px 0
    }
    body {
        font-size: 12px
    }
    .logo {
        height: 30px
    }
    h1 {
        font-size: 150%
    }
    h2 {
        margin-top: 40px
    }
    .btn {
        font-size: 80%
    }
    .current_song div img {
        max-width: 40vw
    }
    .recent img {
        width: 35vw;
        display: block;
        margin: 0 auto
    }
    .recent {
        margin-top: 30px
    }
    .user {
        margin: 0 auto;
        width: 70%;
        text-align: center
    }
    .user ul li:first-of-type {
        margin-top: 20px
    }
    .user ul li {
        margin-top: 5px
    }
    #user_img img {
        width: 30vw
    }
}