/* Larger tablets and screens just bigger than the row width (1140px) */
@media only screen and (max-width: 1200px){
    .textbox{
        width: 100%;
        padding: 0 2%;
    }
}
@media only screen and (max-width: 1200px){
    .mobile_tracks{ display: block; }
    .non_mobile_tracks{ display: none; }
}
/* Tablets (768px to 1023px) */
@media only screen and (max-width: 1000px){
    body{ font-size: 16px; }
    section{ padding: 60px 0; }
    .long_copy{
        width: 80%;
        margin-left: 10%;
    }
    .icon_small{ width: 17px; }
    .contact_form{ width: 80%; }
    .current_song div img{
        max-width: 30vw;
    }

}
/* iPhone 6 and later (larger phones) 480px to 767px [1px smaller than iPad] */
@media only screen and (max-width: 767px){
    body{ 
        font-size: 16px; 
        overflow-x: hidden;
    }
    section{ 
        padding: 30px 0;
        background-attachment: scroll!important;
    }
    header{
        background-attachment: scroll;
    }
    .main_nav{ display: none; }
    .btn_scroll{
        display: none;
    }
    .menu_btn{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 300%;
        margin: 0px 10px;
    }
    .menu_btn a:link, .menu_btn a:visited{
        color: #FFF;
        transition: color 0.5s;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -ms-transition: color 0.5s;
        -o-transition: color 0.5s;
    }
    .menu_btn a:hover, .menu_btn a:active{
        color: #1DB954;
    }
    .long_copy{ 
        width: 100%;
        margin-left: 0%;
    }
    h1{ font-size: 180%; }
    h2{ font-size: 140%; }
    h2:after{ width: 100px; }
    .cont_title:after{
        display: block;
        height: 20px;
        content: " ";
    }
    .btn{
        margin-bottom: 20px; 
    }
    .contact_form{
        width: 150%;
    }
    .logo{
        margin: 0px 0px 0px 10px;
    }
    #user_img img{
        width: 20vw;
    }
}
/* iPhone 5 and earlier (small phones) 0px to 480px */
@media only screen and (max-width: 480px){
    section{ padding: 25px 0; }
    body{ font-size: 12px; }
    .logo{ height: 30px; }
    h1{ font-size: 150%; }
    h2{ margin-top: 20px; }
    .btn{ font-size: 80%; }
    .current_song div img{ max-width: 40vw; }
    .recent img{
        width: 35vw;
        display: block;
        margin: 0 auto;
    }
    .recent{ margin-top: 30px; }
    .user{
        margin: 0 auto;
        width: 70%;
        text-align: center;
    }
    .user ul li:first-of-type{
        margin-top: 20px;
    }
    .user ul li{
        margin-top: 5px;
    }
    #user_img img{
        width: 30vw;
    }
}
