* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.current_song {
    margin: 0 auto;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 2px
}

.current_song div img {
    max-width: 20vw;
    border: 2px solid #fff
}

.current_song div h4,
.current_song div h5 {
    font-size: 90%
}

.current_song div h3,
.recent .text {
    margin-top: 20px
}

.current_song div h3:after {
    display: block;
    height: 2px;
    background: #1db954;
    content: " ";
    width: 75px;
    margin: 10px auto 0
}

.section_currently_playing {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(https://myspotifystats.com/static/img/img/festival.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

.section_recently_played {
    background: #232121
}

.recent {
    width: 25%;
    font-size: 80%
}

.recent img {
    width: 100%
}

.recent .text {
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 1px
}

.logo {
    color: #1db954;
    height: 60px;
    width: auto;
    float: left;
    line-height: 60px;
    margin: 10px 0 0 20px
}

.main_nav,
.top {
    position: relative;
    padding: 10px
}

.main_nav {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    margin: 15px 30px 0 0;
    font-size: 120%
}

.main_nav li {
    display: inline-block;
    margin-left: 40px
}

.main_nav li a:link,
.main_nav li a:visited {
    letter-spacing: 1px;
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 80%;
    -webkit-transition: border-bottom .5s;
    transition: border-bottom .5s;
    border-bottom: 2px solid transparent
}

.main_nav li a:active,
.main_nav li a:hover {
    border-bottom: 2px solid #1db954
}

.main_nav_temp a,
.main_nav_temp ul {
    margin-bottom: 2%;
    letter-spacing: 1px
}

.menu,
.menu_btn {
    display: none
}

.menu {
    height: 100%;
    width: 0;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #191414;
    overflow-x: hidden;
    z-index: 55;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s
}

.open {
    width: 100vw;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s
}

.menu .side_nav_item {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #1db954;
    display: block;
    width: 100%;
    font-size: 200%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    position: relative
}

.menu a:nth-of-type(2) {
    margin-top: 60px
}

.menu_close_btn {
    width: 100%;
    font-size: 150%
}

.menu_close_btn .icon {
    float: right
}

body,
html {
    font-display: swap;
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    background: #191414;
    color: #fff;
    overflow-x: hidden
}

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, .4))), url(https://myspotifystats.com/static/img/bg2.png);
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(https://myspotifystats.com/static/img/bg2.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

h1,
h2,
h3 {
    text-transform: uppercase
}

h1 {
    margin-top: 0 0 20px 0;
    font-size: 350%;
    word-spacing: 7px;
    letter-spacing: 3px;
    font-weight: 400;
    color: #1db954
}

h2,
h3 {
    color: #fff;
    font-weight: 300
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px
}

h3 {
    font-size: 110%;
    margin-bottom: 15px
}

h2:after {
    display: block;
    height: 2px;
    background: #1db954;
    content: " ";
    width: 400px;
    margin: 30px auto 0
}

.textbox {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

section {
    padding: 80px 0
}

.box,
h2 {
    text-align: center
}

.box .icon,
.icon {
    color: #1db954;
    font-size: 250%;
    padding: 20px
}

.in_text_link:link,
.in_text_link:visited {
    color: #1db954;
    text-decoration: none;
    transition: color .5s, border-bottom .5s;
    border-bottom: 2px solid transparent;
    -webkit-transition: color .5s, border-bottom .5s;
    -moz-transition: color .5s, border-bottom .5s;
    -ms-transition: color .5s, border-bottom .5s;
    -o-transition: color .5s, border-bottom .5s
}

.in_text_link:active,
.in_text_link:hover {
    color: #fff;
    border-bottom: 2px solid #1db954
}

.reverse_link:link,
.reverse_link:visited {
    color: #fff;
    text-decoration: none;
    transition: color .5s;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s
}

.reverse_link:active,
.reverse_link:hover {
    color: #1db954
}

.long_copy,
.short_copy {
    line-height: 145%;
    width: 70%;
    margin: 0 0 20px 15%
}

.short_copy {
    text-align: center;
    margin: 0 0 40px 15%
}

.box p {
    font-size: 90%;
    line-height: 145%
}

.section_steps {
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, .6))), url(https://myspotifystats.com/static/img/dave.png);
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(https://myspotifystats.com/static/img/dave.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

.steps_box {
    margin-top: 30px
}

.steps_box:first-child {
    text-align: right;
    padding-right: 3%
}

.steps_box:last-child {
    padding-left: 3%;
    margin-top: 60px
}

.one_step {
    line-height: 50px
}

.non_home {
    position: absolute;
    top: 0;
    right: 0
}

.cen,
label {
    text-align: center
}

label {
    margin: 10px 0
}

.num {
    color: #1db954
}

.section_contact {
    background: #232121
}

.contact_form,
.contact_form .row div {
    width: 60%;
    margin: 0 auto
}

.contact_form .row div {
    text-align: center
}

.contact_btn {
    text-align: center
}

input[type=email],
input[type=text],
select,
textarea {
    margin: 0 auto;
    width: 50%;
    padding: 7px;
    border: 1px solid #555;
    -webkit-box-shadow: 5px 10px 10px 6px rgba(0, 0, 0, .7);
    box-shadow: 5px 10px 10px 6px rgba(0, 0, 0, .7);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px
}

textarea {
    height: 100px
}

input[type=checkbox] {
    margin: 10px 5px 10px 0
}

:focus {
    outline: 0
}

input[type=submit] {
    color: #191414;
    background: #1db954;
    border: 2px solid transparent
}

input[type=submit]:hover {
    border: 2px solid #1db954
}

.btn:link,
.btn:visited {
    font-weight: 400;
    color: #191414;
    border: 2px solid transparent;
    margin-right: 10px
}

.btn:active,
.btn:hover,
.btn:link,
.btn:visited {
    outline: 0;
    text-decoration: none
}

.btn_full:link,
.btn_full:visited {
    text-decoration: none;
    background: #1db954;
    outline: 0;
    -webkit-transition: border .5s, background-color .5s, color .5s;
    transition: border .5s, background-color .5s, color .5s
}

.btn_full:active,
.btn_full:hover {
    color: #21e064;
    background-color: #191414;
    border: 2px solid #1db954
}

.btn_ghost:link,
.btn_ghost:visited {
    border: 2px solid #1db954;
    color: #fff;
    transition: background-color .5s, color .5s;
    -webkit-transition: background-color .5s, color .5s;
    -moz-transition: background-color .5s, color .5s;
    -ms-transition: background-color .5s, color .5s;
    -o-transition: background-color .5s, color .5s
}

.btn_ghost:active,
.btn_ghost:hover {
    background-color: #191919;
    color: #1db954
}

.btn_scroll:link,
.btn_scroll:visited {
    position: absolute;
    bottom: 0;
    right: 48%;
    padding: 10px;
    margin: 10px 10px 20px;
    color: #fff;
    height: 60px;
    border: 2px solid #1db954;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: color .5s, border .5s, background-color .5s;
    -webkit-transition: color .5s, border .5s, background-color .5s;
    -moz-transition: color .5s, border .5s, background-color .5s;
    -ms-transition: color .5s, border .5s, background-color .5s;
    -o-transition: color .5s, border .5s, background-color .5s
}

.btn_scroll:active,
.btn_scroll:hover {
    color: #1db954;
    border: 2px solid #1db954;
    background-color: #191414
}

.btn_scroll #chev_down {
    font-size: 200%
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px
}

.user,
footer p {
    text-align: center
}

footer p {
    margin-bottom: 0
}

#footer_spacer {
    margin: 0 20px
}

.section_user_details {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, .6))), url(https://myspotifystats.com/static/img/katy_perry.png);
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(https://myspotifystats.com/static/img/katy_perry.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

#user_img img,
.track_container img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%
}

#user_img img {
    width: 10vw;
    margin: 10px auto
}

.user {
    margin: 0 auto
}

.user_info {
    list-style-type: none
}

.section_top_artists {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, .6))), url(https://myspotifystats.com/static/img/jeff.png);
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(https://myspotifystats.com/static/img/jeff.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

.section_more_info {
    background: #232121
}

.btn_drop {
    cursor: pointer
}

.btn_drop_cont {
    width: 100%;
    padding: 20px;
    background: #232121;
    cursor: pointer
}

.btn_drop_cont p {
    margin: 0
}

.btn_drop_cont a,
.btn_drop_cont a span {
    display: block;
    color: #fff
}

.btn_drop_cont,
.btn_drop_cont a:hover {
    text-decoration: none
}

.btn_drop span {
    float: right;
    padding: 0;
    font-size: 150%
}

.collapsed {
    background: #232121;
    text-align: center
}

.collapsed a img {
    float: none;
    display: block;
    margin: 0 auto
}

.mobile_tracks {
    text-align: center;
    margin-top: 20px
}

.artist {
    background: #191414
}

.non_mobile_tracks {
    margin: 0 auto;
    text-align: center
}

.track_container {
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center
}

.track_container img {
    width: 75px;
    height: 75px;
    padding: 5px;
    display: block;
    margin: 0 auto
}

.track_container p {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 75%;
    text-overflow: ellipsis;
    margin: 0 auto
}

.mobile_tracks {
    display: none
}

.mob_track_container {
    width: 100%;
    padding: 10px;
    background: #232121
}

.mob_track_container a .mob_track_img {
    max-width: 75px;
    float: left;
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%
}

.mob_track_container a p {
    line-height: 75px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 65%;
    text-overflow: ellipsis;
    margin: 5px auto
}

.logcheck p {
    font-size: 110%;
    text-align: center
}