body {
    font-family: Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
  }
  a {
    color: #00B7FF;
  }
  
  #currently_playing{
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
  #currently_playing img{
    max-width:  40%;
    box-shadow: -10px 10px 20px 10px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
  }
  
  /* Navbar styling */
  #header{
    background: #191414;
    height: 60px;
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
  }
  #header div ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
  }
  #header div ul li a:hover{
    color: #1DB954;
    cursor: pointer;
  }
  #header div ul li a{
    color: white;
    text-decoration: none;
  }
  #header div ul li {
    vertical-align: middle;
  }
  #header div ul li a #logo{
    height: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .header-left{
    float: left;
  }
  .header-right{
    position: absolute;
    right: 60px;
    float: right;
  }
  #profile_img{
    position: absolute;
    top: 5%;
    max-height: 60px;
    border-radius: 50%;
    margin-left: 10px;
  }
  #name_link{
    margin-right: 10px;
  }

  /* General Styling */
  .content{
    margin: 20px auto;
    width: 75%;
    text-align: center;
  }

  /* Home Page Styling */
  .home{
    background-image: url('/static/img/bg.png')!important;
  }
  .section{
    height: 25em;
    transform-origin: 100%;
    z-index: -1;
    text-align: center;
  }
  #banner{
    transform: skewY(-2.3deg);
    background: #1DB954;
  }
  #banner h1{
    padding-top: 200px;
    margin: 0;
    transform: skewY(2.5deg);
    transform-origin: 100%;
  }
  #second{
    background: #1DB954;
    margin-top: 15em;
  }
  #banner_heading{
    font-size: 60px;
    display: block;
  }

  .recently_played{
    width: 70%;
    margin: 2% auto 0 auto;
    text-align: justify;
  }

  .recently_played div{
    box-shadow: -10px 10px 20px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 15%;
    height: 20vw;
  }

  .recently_played > div{
    width: 15%; /* Declare your value. Can be in relative units. */
    display: inline-block;
    vertical-align: top;
  }
  .recently_played:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
  .recently_played div img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .recently_played div p{
    text-align: center;
  }
