<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,300italic" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/normalize.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="row top">
        <a href="{{url_for('home')}}"><img src="{{url_for('static', filename='img/home_img.png')}}" alt="MySpotifyStats Logo" class="logo"></a>
        <ul class="main_nav non_home">
            <li><a href="{{url_for('home')}}">Home</a></li>
            {% if session['access_token'] %}
            <li><a href="{{url_for('currently_playing')}}">Currently Playing</a></li>
            <li><a href="{{url_for('profile')}}">{{session['firstname']}}</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
            <li><a href="#">About</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    {% block content %}

    {% endblock %}

    <footer>
        <p>Luca Passariello 2019 <span id="footer_spacer">|</span><a class="in_text_link" target="_blank"
                href="http://www.lucapassariello.co.uk">Portfolio</a></p>
    </footer>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</body>
</html>