<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="header">
            <div class="header-left">
                <ul>
                    <li><a href="{{ url_for('home') }}"><img id="logo" src="{{ url_for('static', filename='img/home_img.png') }}" alt=""></a></li>
                </ul>
            </div>
            <div class="header-right">
                {% if session["name"] is defined %}
                <ul class="logged_in_list">
                    <li><a href="{{ url_for('currently_playing') }}">Currently Playing</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <li><a id="name_link" href="{{ url_for('home') }}">{{ session["name"] }}<img id="profile_img" src="{{ session['profile_img'] }}" alt=""></a></li>
                    <li></li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="{{ url_for('home') }}">Something Else</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </ul>
                {% endif %}
            </div>
         </div>
    {% block content %}

    {% endblock %}
</body>
</html>