<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129516048-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-129516048-2');
        </script>
        <link rel="icon" type="image/ico" href="https://www.myspotifystats.com/static/img/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,300italic" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="https://www.myspotifystats.com/static/style/style.css">
        <link type="text/css" rel="stylesheet" href="https://www.myspotifystats.com/static/style/media.css">
        <script type="module" src="https://unpkg.com/ionicons@4.5.9-1/dist/ionicons/ionicons.esm.js"></script>
        <title>{% block title %}{% endblock %}</title>
        <meta name="Description"
            content="With MySpotifyStats you can check your favorite artists, songs, view what's playing and much more.">
        <meta name="Keywords" content="Spotify Stats Music Statistics">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#1DB954">
    </head>
<body>
    <div class="row top">
        <a href="{{url_for('home')}}"><img src="{{url_for('static', filename='img/home_img.png')}}" alt="MySpotifyStats Logo" class="logo"></a>
        <ul class="main_nav non_home">
            {% if session['access_token'] %}
            <li><a href="{{url_for('currently_playing')}}">Currently Playing</a></li>
            <li><a href="{{url_for('profile')}}">{{session['firstname']}}</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
            <li><a href="#">About</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="menu_btn">
        <a href="javascript:void(0);">
            <ion-icon name="menu"></ion-icon>
        </a>
    </div>
    <div class="menu">
        <a class="menu_close_btn" href="javascript:void(0)">
            <ion-icon name="close" class="icon"></ion-icon>
        </a>
        {% if session['access_token'] %}
        <a class="side_nav_item" href="{{url_for('currently_playing')}}">Currently Playing</a>
        <a class="side_nav_item" href="{{url_for('profile')}}">{{session['firstname']}}</a>
        <a class="side_nav_item" href="{{url_for('logout')}}">Logout</a>
        {% else %}
        <a class="side_nav_item" href="{{url_for('login')}}">Login</a>
        {% endif %}
    </div>
    {% block content %}

    {% endblock %}

    <footer>
        <p>Luca Passariello 2019 <span id="footer_spacer">|</span><a rel="noreferrer" class="in_text_link" target="_blank"
                href="http://www.lucapassariello.co.uk">Portfolio</a></p>
    </footer>
<script type="module" src="https://unpkg.com/ionicons@4.5.9-1/dist/ionicons/ionicons.esm.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script src="https://www.myspotifystats.com/static/script/script.js"></script>
</body>
</html>