{% extends 'partials/template.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<section class="section_currently_playing">
    <h2>Currently Playing</h2>
    <div class="row current_song">
        <div class="col span-1-of-1">
            <img src="{{current['img']}}" alt="{{ current['album'] }}">
            <h3>{{ current["name"] }}</h3>
            <h4>{{ current["artist"] }}</h4>
            <h5>{{ current["album"] }} {{ current["release"] }}</h5>
        </div>
    </div>
</section>
{% if recent is defined %}
<section class="section_recently_played">
    <h2>Recently Played</h2>
    <div class="container">
        <div class="row">
            {% for song in recent %}
                <div class="col-12 col-sm-6 col-md-3 recent">
                    <img src="{{ song['track']['album']['images'][0]['url'] }}" alt="{{ song['track']['name'] }}">
                    <div class="text">
                        <p><a class="reverse_link" target="_blank"
                                href="{{ song['track']['external_urls']['spotify'] }}">{{ song["track"]["name"] }}</a></p>
                        <p><a class="reverse_link" target="_blank"
                                href="{{ song['track']['artists'][0]['external_urls']['spotify'] }}">{{ song["track"]["artists"][0]["name"] }}</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- <div class="row">
        {% for song in recent %}
            <div class="col 1-of-4 recent">
                <img src="{{ song['track']['album']['images'][0]['url'] }}" alt="{{ song['track']['name'] }}">
                <div class="text">
                    <p><a class="reverse_link" target="_blank" href="{{ song['track']['external_urls']['spotify'] }}">{{ song["track"]["name"] }}</a></p>
                    <p><a class="reverse_link" target="_blank" href="{{ song['track']['artists'][0]['external_urls']['spotify'] }}">{{ song["track"]["artists"][0]["name"] }}</a></p>
                </div> 
            </div>
        {% endfor %}
    </div> -->
</section>
{% endif %}
{% endblock %}