{% extends 'partials/template.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div id="currently_playing">
    <img src="{{current['img']}}" alt="">
    <h2>{{ current["name"] }}</h2>
    <h3>{{ current["artist"] }}</h3>
    <h4>{{ current["album"] }} {{ current["release"] }}</h4>
</div>

{% if recent is defined %}
    <div class="recently_played">
        <h3>Recently Played</h3>
        {% for song in recent %}
            <div>
                <img class="recent_album" src="{{ song['track']['album']['images'][0]['url'] }}" alt="">
                <p><b>{{ song["track"]["name"] }}</b></p>
                <p>{{ song["track"]["artists"][0]["name"] }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}