{% extends 'partials/template.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<style>
    body{
        background-size: cover;
    }
</style>
<div class="home">
    <div class="section" id="banner">
        <h1>Welcome to <br /><span id="banner_heading">MySpotifyStats.com</span></h1>
    </div>
    <div class="section" id="second">
        <h1>On this site, you can:</h1>
        <ul>
            <li>View your top songs and artists via your profile</li>
            <li>View what song is currently playing on your spotify from the currently playing tab</li>
        </ul>
    </div>
</div>
{% endblock %}