<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,300italic" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/media.css') }}">

    <title>MySpotifyStats | Home</title>
</head>

<body>
<header>
    <div class="row top">
        <a href="{{url_for('home')}}"><img src="{{url_for('static', filename='img/home_img.png')}}" alt="MySpotifyStats Logo" class="logo"></a>
        <ul class="main_nav">
            {% if session['access_token'] %}
            <li><a href="{{url_for('currently_playing')}}">Currently Playing</a></li>
            <li><a href="{{url_for('profile')}}">{{session['firstname']}}</a></li>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
            <li><a class="about_button" href="javascript:void(0);">About</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="textbox">
        <h1>Welcome to <br> myspotifystats.com</h1>
        <a class="btn btn_full section1" href="javascript:void(0);">What does this site do?</a>
        <a class="btn btn_ghost section4" href="javascript:void(0);">Where are the available tools?</a>
    </div>
    <div class="scroll">
        <a class="btn_scroll" href="javascript:void(0);"><ion-icon id="chev_down" name="arrow-down"></ion-icon></a>
    </div>
</header>
<section class="section_info">
    <h2>What can i do?</h2>
    <!-- <div class="row">
        <p class="short_copy">
            MySpotifyStats.com is an app for viewing more information about your Spotify account.<br /> We do not store or process any of your data.
            <br />To use the app properly, you should login with Spotify <a class="in_text_link" href="{{url_for('login')}}">here</a>.
        </p>
    </div>
    <div class="row">
        <div class="col span-1-of-4 box">
            <ion-icon name="headset" class="icon"></ion-icon>
            <h3>See what's playing</h3>
            <p>
                By using the <a class="in_text_link" href="{{url_for('currently_playing')}}">
                currently playing</a> app, you can see what is playing and what has played recently.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <ion-icon name="trending-up" class="icon"></ion-icon>
            <h3>Top tracks and artists</h3>
            <p>
                From your <a href="{{url_for('profile')}}" class="in_text_link">profile</a>, you can see your top artists and tracks from varying timescales.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <ion-icon name="call" class="icon"></ion-icon>
            <h3>Contact Us</h3>
            <p>
                If there are any issues, improvements or suggestions please using the <a href="javascript:void(0);" class="contact_btn in_text_link">contact form</a> to notify the development team.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <ion-icon name="hammer" class="icon"></ion-icon>
            <h3>More Coming Soon</h3>
            <p>
                More content will be coming in future updates, such as playlist analysis.
            </p>
        </div>
        // 576 - 767 //
    </div> -->
    <div class="container">
        <div class="row">
            <div class="cen col-12 col-sm-6 col-md-3 col-lg-3" >
                <ion-icon name="headset" class="icon"></ion-icon>
                <h3>See what's playing</h3>
                <p>
                    By using the <a class="in_text_link" href="{{url_for('currently_playing')}}">
                        currently playing</a> app, you can see what is playing and what has played recently.
                </p>
            </div>
            <div class="cen col-12 col-sm-6 col-md-3 col-lg-3">
                <ion-icon name="trending-up" class="icon"></ion-icon>
                <h3>Top tracks and artists</h3>
                <p>
                    From your <a href="{{url_for('profile')}}" class="in_text_link">profile</a>, you can see your top artists and tracks
                    from varying timescales.
                </p>
            </div>
            <div class="cen col-12 col-sm-6 col-md-3 col-lg-3">
                <ion-icon name="call" class="icon"></ion-icon>
                <h3>Contact Us</h3>
                <p>
                    If there are any issues, improvements or suggestions please using the <a href="javascript:void(0);"
                        class="contact_btn in_text_link">contact form</a> to notify the development team.
                </p>
            </div>
            <div class="cen col-12 col-sm-6 col-md-3 col-lg-3">
                <ion-icon name="hammer" class="icon"></ion-icon>
                <h3>More Coming Soon</h3>
                <p>
                    More content will be coming in future updates, such as playlist analysis.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section_steps">
    <h2>How does it work?</h2>
    <div class="container">
        <div class="row">
            <div class="works_step col-12 col-sm-6 col-md-3 col-lg-3">
                <p><span id="num">1 &mdash;</span> <a class="in_text_link" href="{{url_for('login')}}">Login</a> to the website with spotify. We don't store any
                    of your data</p>
            </div>
            <div class="works_step col-12 col-sm-6 col-md-3 col-lg-3">
                <p><span id="num">2 &mdash;</span> When you are signed in, you are given a token which is attached to your account</p>
            </div>
            <div class="works_step col-12 col-sm-6 col-md-3 col-lg-3">
                <p><span id="num">3 &mdash;</span> This token lasts an hour and is used to get data from spotify for your account</p>
            </div>
            <div class="works_step col-12 col-sm-6 col-md-3 col-lg-3">
                <p><span id="num">4 &mdash;</span> This data is then formatted and displayed to you!</p>
            </div>
        </div>
    </div>
</section>
<section class="section_tools">
    <h2>Where are the available tools?</h2>
    <div class="container">
        <div class="row">
            <div class="cen col-12 col-sm-4">
                <ion-icon name="headset" class="icon"></ion-icon>
                <h3>Currently Playing</h3>
                <a class="btn btn_full" href="{{ url_for('currently_playing') }}">Here!</a>
            </div>
            <div class="cen col-12 col-sm-4">
                <ion-icon name="trending-up" class="icon"></ion-icon>
                <h3>Top tracks and artists</h3>
                <a class="btn btn_full" href="{{ url_for('profile') }}">Here!</a>
            </div>
            <div class="cen col-12 col-sm-4">
                <ion-icon name="call" class="icon"></ion-icon>
                <h3>Contact</h3>
                <a class="btn btn_full contact_btn" href="javascript:void(0);">Here!</a>
            </div>
        </div>
    </div>
</section>
<section class="section_contact">
    <h2>We'd love to hear from you</h2>
    <div class="row">
        <p class="short_copy">If you would like to get in contact with us, please fill out the form below and include any improvements, modifications or feature requests. One of our developers will get back to you.</p>
    </div>
        <div class="row">
            <form action="#" method="POST" class="contact_form">
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-12 col-sm-12">
                        <input type="text" name="name" id="name" placeholder="Your name..." required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-12 col-sm-12">
                        <input type="email" name="email" id="email" placeholder="Your email..." required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <label for="find_us">How did you find us?</label>
                    </div>
                    <div class="col-12 col-sm-12">
                        <select name="find_us" id="find_us">
                            <option value="placeholder" disabled="disabled" selected="selected">Select One</option>
                            <option value="friends">Friends</option>
                            <option value="search">Search Engine</option>
                            <option value="advert">Advertisment</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <label for="news">Your message</label>
                    </div>
                    <div class="col-12 col-sm-12">
                        <textarea name="news" id="news" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col-12 col-sm-12">
                        <input class="btn btn_ghost" type="submit" value="Submit">
                    </div>
                </div>
           </div>
        </form>
    </div>
</section>
<footer>
    <p>Luca Passariello 2019 <span id="footer_spacer">|</span><a class="in_text_link" target="_blank" href="http://www.lucapassariello.co.uk">Portfolio</a></p>
</footer>
<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script>
    $('.contact_btn').click(function(){
        $('html, body').animate({
            scrollTop: $('.section_contact').offset().top
        }, 1000)
    })
    $('.section1').click(function(){
        $('html, body').animate({
            scrollTop: $('.section_info').offset().top
        }, 1000)
    })
    $('.section4').click(function(){
        $('html, body').animate({
            scrollTop: $('.section_tools').offset().top
        }, 1000)
    })
    $('.btn_scroll').click(function(){
        $('html, body').animate({
            scrollTop: $('.section_info').offset().top
        }, 1000)
    })
    $('.about_button').click(function(){
        $('html, body').animate({
            scrollTop: $('.section_info').offset().top
        }, 1000)
    })
    
</script>
</body>    
</html>