<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,300italic" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/normalize.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>MySpotifyStats | Home</title>
</head>

<body>
<header>
        <div class="row top">
            <img src="static/img/home_img.png" alt="MySpotifyStats Logo" class="logo">
            <ul class="main_nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
  <div class="textbox">
    <h1>Welcome to <br> myspotifystats.com</h1>
  </div>
</header>
<section class="info">
    <h2>What can i do?</h2>
    <div class="row">
        <p class="short_copy">
            To use the app properly, you should login with Spotify <a class="in_text_link" href="">here</a>.
        </p>
    </div>
    <div class="row">
        <div class="col span-1-of-4 box">
            <ion-icon name="headset" class="icon"></ion-icon>
            <h3>See what's playing</h3>
            <p>
                By using the <a class="in_text_link" href="http://www.myspotifystats.com/app/currently_playing">
                currently playing</a> app, you can see what is playing and what has played recently.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <ion-icon name="trending-up" class="icon"></ion-icon>
            <h3>Top tracks and artists</h3>
            <p>
                From your <a href="" class="in_text_link">profile</a>, you can see your top artists and tracks from varying timescales.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <ion-icon name="call" class="icon"></ion-icon>
            <h3>Contact Us</h3>
            <p>
                If there are any issues, improvements or suggestions please using the <a href="#" class="in_text_link">contact form</a> to notify the development team.
            </p>
        </div>
        <div class="col span-1-of-4 box">
            <ion-icon name="hammer" class="icon"></ion-icon>
            <h3>More Coming Soon</h3>
            <p>
                More content will be coming in future updates, such as playlist analysis.
            </p>
        </div>
    </div>
</section>
<section class="temp">
    <h2>Temporary Section</h2>
</section>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    </body>
    
    </html>